form{
    border: 1px solid black;
    padding: 10px;
    background-color: seagreen;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.login_form{
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 35px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    letter-spacing: -1px;
    
}
input{
    min-width: 380px;
    padding: 20px 0;
    padding-left: 15px;
    margin-bottom: 10px;
    outline: none;
    border: 1px solid black;
    border-radius: 2px;
    font-size: 15px;
}

button{
    padding: 17px 30px;
    margin-top: 10px;
    background: black;
    border: none;
    color: white;
    font-size: 14px;
    border-radius: 3px;
}